<table>
<% if @news %>
    <% @news.each.with_index do |new, j| %>
    <tr>
        <% temp = new["original_score"] %>
        <td><p class="title"><%= link_to "#{new["title"]}".html_safe, new["url"], :target => '_blank' %>
            <div class="hotness" title="<%="#{temp} upvotes" %>">
           <% (Math.sqrt(temp/1000).to_i).times do %>
                    <%= image_tag("https://s3-us-west-2.amazonaws.com/5ddit/hot.png", size: "20x20") %>
            <% end %>
            <% if temp<1000 %>
                <%= image_tag("https://s3-us-west-2.amazonaws.com/5ddit/heat.png", size: "20x20") %>
            <% end %>
            </div>

        </p>
        <p class="source">Source: <%=  new["domain"] %></p>
        <p class="details">Posted: <%= if new["posted"] < 60 then "#{new["posted"]} minutes ago" else "#{new["posted"].to_i/60} hours ago" end %> <span id="showcomment<%= j %>" class= "showcomments"></span>&emsp;<a href="http://www.reddit.com<%= new["comment"] %>">reddit</a></p>
        <div class = "comments" id="comment<%= j %>" style="display: none"><ul class="firstul">
        <%= showComments(new["comments"]).html_safe %>
        </ul>
     </div>
        <hr/>
        </td>
    </tr>
    <% end %>
<% else %>
    <tr> Crawling Reddit...</tr>
<% end %>
</table>
