<table>
<% @news.each do |new| %>
<tr class=<%= cycle("even","odd")%>>
    <% temp = new[:original_score] 
        arr = [0,5000,5500,6200,7100,8200,9500,11000,12700,14600,999999] 
        i = (0...arr.size).bsearch {|x| arr[x]>=temp }%>
    <td><p class="title"><%= link_to "#{new[:title]}".html_safe, new[:url], :target => '_blank' %>
        <div class="hotness" title="<%="#{temp} upvotes" %>">
       <% (i/2).times do %>
                <%= image_tag("https://s3-us-west-2.amazonaws.com/5ddit/hot.png", size: "20x20") %>
        <% end %>
        <% if i%2==1 %>
            <%= image_tag("https://s3-us-west-2.amazonaws.com/5ddit/heat.png", size: "20x20") %>
        <% end %>
        </div>

    </p>
    <p class="source">Source: <%=  new[:domain] %></p>
    <p class="details">Posted: <%= if new[:posted] < 60 then "#{new[:posted]} minutes ago" else "#{new[:posted].to_i/60} hours ago" end %></p>
    <hr/>
    </td>
</tr>
<% end %>
</table>
