<!DOCTYPE html>
<html>
<head>
  <title>5ddit - top 5 news from reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag  params[:controller] %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, 
minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
      <img height="30" width = "30" src="https://s3-us-west-2.amazonaws.com/5ddit/5ddit.png">
        5ddit - Top 5 news from the front page of internet</a>
    </div>
    <ul class="nav navbar-nav navbar-right visible-sm visible-xs">
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
      <li><a href="/about">about</a></li> 
    </ul>
  </div>
</nav>
<%= yield %>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6292085259531298"
     data-ad-slot="8799491367"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<SCRIPT charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=CA&ID=V20070822%2FCA%2F5ddit02-20%2F8009%2Fd569f805-c1a0-4270-ba71-0c316f44ed69&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A rel="nofollow" HREF="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=CA&ID=V20070822%2FCA%2F5ddit02-20%2F8009%2Fd569f805-c1a0-4270-ba71-0c316f44ed69&Operation=NoScript">Amazon.ca Widgets</A></NOSCRIPT>
</body>
</html>
