<!DOCTYPE html>
<html>
<head>
  <title>5ddit - top 5 news from reddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag  params[:controller] %>

</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <a href="/" class="pull-left"><img height="40" width = "40" src="https://s3-us-west-2.amazonaws.com/5ddit/5ddit.png"></a>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">5ddit - Top 5 news from the front page of internet</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/about">about</a></li> 
    </ul>
  </div>
</nav>
<%= yield %>

</body>
</html>
